
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" 
            aria-hidden="true">×
    </button>
    <h4 class="modal-title" id="myModalLabel">
        设置关键词频道
    </h4>
</div>
<div class="modal-body" style="margin-bottom: 30px;">
    <div class="m_top_10">
        <h5 class="modal-title" id="">
        指定关键词所属频道
        </h5>
        <div class="gjcfl_list m_top_20">
            <ul>
                <li>
                    <input tabindex="1" name="gjcpd" type="radio" id="radio-1" value="品牌词" checked>
                    <label for="input-1">图书</label>
                </li>
                <li>
                    <input tabindex="2" name="gjcpd" type="radio" id="radio-2" value="通用词">
                    <label for="input-2">电器</label>
                </li>
                <li>
                    <input tabindex="3" name="gjcpd" type="radio" id="radio-3" name="demo-radio" value="竞品词">
                    <label for="input-3" ng-click="save_addgjc($event)">食品</label>
                </li>
                <li>
                    <input tabindex="3" name="gjcpd" type="radio" id="radio-3" name="demo-radio" value="竞品词">
                    <label for="input-3" ng-click="save_addgjc($event)">护肤</label>
                </li>
                <li>
                    <input tabindex="3" name="gjcpd" type="radio" id="radio-3" name="demo-radio" value="竞品词">
                    <label for="input-3" ng-click="save_addgjc($event)">海外购</label>
                </li>
                <li>
                    <input tabindex="3" name="gjcpd" type="radio" id="radio-3" name="demo-radio" value="竞品词">
                    <label for="input-3" ng-click="save_addgjc($event)">医药</label>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer text-center">
    <button type="button" class="btn_main btn_cancel" data-dismiss="modal">取消</button>
    <button type="button" class="btn_main saveBtn" ng-click="projectsApp.appScope.save_addgjc($event)" onclick="aaa()">保存</button>    
</div>
<script>
   //多选单选按钮初始化
    function iradio(){
        var callbacks_list = $('.demo-callbacks ul');
        $('.gjcfl_list input').on('ifCreated ifClicked ifChanged ifChecked ifUnchecked ifDisabled ifEnabled ifDestroyed',function(event){
            callbacks_list.prepend('<li><span>#' + this.id + '</span> is ' + event.type.replace('if', '').toLowerCase() + '</li>');
            //checkednumf();
        }).iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%',
        });
    };
    iradio();
</script>