
<div ng-controller="addgjcmodalController">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">×</button>
    <h4 class="modal-title" id="">
        添加关键词
    </h4>
</div>
<div class="modal-body" style="margin-bottom: 30px;">

    <tags-input ng-model="tags" placeholder="{{placeholder}}" min-length="1" max-length="10" on-tag-added="tagAdded($tag)" on-tag-removed="tagRemoved($tag)"></tags-input>

    <p class="text-right"><span class="num">{{num}}</span>/<span class="total">{{tagsall}}</span></p>
    <h5 class="modal-title" id="">
        指定关键词分类<span>(最多可以选择5个分类)</span>
    </h5>
    <div class="m_top_20">
        <div class="gjcfl_list">
            <ul id="zdgjcfl">
                <li>
                    <input tabindex="1" type="checkbox" id="checkbox-1" name="zdgjc_list" checked value="品牌词">&nbsp;<label for="input-1">品牌词</label>
                </li>
                <li>
                    <input tabindex="2" type="checkbox" id="checkbox-2" name="zdgjc_list" value="通用词">&nbsp;<label for="input-2">通用词</label>
                </li>
                <li>
                    <input tabindex="3" type="checkbox" id="checkbox-3" name="zdgjc_list" value="竞品词">&nbsp;<label for="input-3">竞品词</label>
                </li>
                <li>
                    <input tabindex="2" type="checkbox" id="checkbox-2" name="zdgjc_list" value="通用词">&nbsp;<label for="input-2">通用词</label>
                </li>
            </ul>
        </div>
    </div>
    <div class="m_top_20 row">
        <div class="form-group col-md-6 m_bottom_0">
            <div class="form-group m_bottom_0">
                <input type="txt" maxlength="10" class="form-control addfl_inp" id="addfl_inp" value="" placeholder="输入分类名称不超过10个字符">
            </div>
        </div>
        <div class="form-group col-md-6 m_bottom_0 p_left_0">
            <div class="form-group m_bottom_0">
                <button class="btn_main inputrightBtn addnewfl" onclick="getval()">新增分类</button>
            </div>
        </div>
    </div>
    <div class="m_top_10">
        <h5 class="modal-title" id="">
        指定关键词所属频道
        </h5>
        <div class="gjcfl_list m_top_20">
            <ul>
                <li>
                    <input tabindex="1" name="gjcpd" type="radio" id="radio-1" value="品牌词" checked>
                    <label for="input-1">品牌词</label>
                </li>
                <li>
                    <input tabindex="2" name="gjcpd" type="radio" id="radio-2" value="通用词">
                    <label for="input-2">通用词</label>
                </li>
                <li>
                    <input tabindex="3" name="gjcpd" type="radio" id="radio-3" name="demo-radio" value="竞品词">
                    <label for="input-3">竞品词</label>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer text-center">
    <button type="button" class="btn_main saveBtn" ng-click="ok()">确定</button>
    <button type="button" class="btn_main btn_cancel" ng-click="cancel()">取消</button>
</div>
</div>
<script>
    //多选单选按钮初始化
    function icheckf(){
        var callbacks_list = $('.demo-callbacks ul');
        $('.gjcfl_list input').on('ifCreated ifClicked ifChanged ifChecked ifUnchecked ifDisabled ifEnabled ifDestroyed',function(event){
            callbacks_list.prepend('<li><span>#' + this.id + '</span> is ' + event.type.replace('if', '').toLowerCase() + '</li>');
            //checkednumf();
        }).iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%',
        });
    };
    icheckf();
    function aaa(){
        //添加关键词输入框控制


    }
    //验证重复名称的
    var checkval_ok = false;
    function checkval(selecter,new_val){
        $(selecter).each(function(){
            var old_val = $(this).val();
            //console.log(old_val);
            if (old_val == new_val) {
                checkval_ok = false;
                $('.tip').html("此项已经存在").stop(true,false).fadeIn(0).delay(1000).fadeOut("slow");
                return checkval_ok;
            }else{
                checkval_ok = true;
                return checkval_ok;
            }
        });
        return checkval_ok;
    };

    //新增分类
    function getval(){
        //获取输入的分类值
        var input_val = $(".modal-body #addfl_inp").val();
        //分类值满足要求
        if(input_val.length>0 && input_val.length<11){
            //拼写模板
            var _html = '<li><input tabindex="3" type="checkbox" id="checkbox-3" value="'+input_val+'" name="zdgjc_list">&nbsp;<label for="input-3">'+input_val+'</label></li>';
            checkval("#zdgjcfl input[name=zdgjc_list]",input_val);//验证输入的值是否已经存在
            //新增后做遍历选中的box个数
            var len = $("#zdgjcfl li input[name='zdgjc_list']:checked").length;
            //满足情况进行录入
            if (checkval_ok == true){
                 $(".modal-body #zdgjcfl").append(_html);
                 //新增内容后判断是否达到限制，达到限制后作出禁用操作
                 if(len > 4){
                     $("input[name=zdgjc_list]").not('input[name=zdgjc_list]:checked').iCheck('disable');
                 };
                icheckf();//重新初始化选择项
                inunchecked();//监听取消选中的事件作出解绑
                inchecked();//监听选中复选框方式超出选项限制
            }
        }
    };

    //绑定多选框ifUnchecked事件(监听取消选中的事件)
    function inunchecked(){
        $('#zdgjcfl li input[name=zdgjc_list]').on('ifUnchecked', function(){
            var len = $("#zdgjcfl li input[name='zdgjc_list']:checked").length;
            if(len < 5){
                $("input[name=zdgjc_list]").iCheck('enable');
            }
        });
    };
    inunchecked();
    //绑定多选框checked事件（监听选中的）
    function inchecked(){
        $('#zdgjcfl li input[name=zdgjc_list]').on('ifChecked', function(){
            //查找选中的个数
            var len = $("#zdgjcfl li input[name='zdgjc_list']:checked").length;
            //alert("选中的个数是"+len);
            if(len > 4){
            //点第五个的时候禁止选择其他空项并提示
                $("input[name=zdgjc_list]").not('input[name=zdgjc_list]:checked').iCheck('disable');
                $('.tip').html("不能超过5项").stop(true,false).fadeIn(0).delay(1000).fadeOut("slow");
            }
        });
    };
    inchecked();

</script>